@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

body {
    background-color: #f3f3f3;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: 18px;
    margin-top: 2rem;
}

label {
    width: 90%;
    font-size: 0.8rem;
}

input, select {
    width: 90%;
    max-width: 800px;
    margin: 0; padding: 0.5rem;
    border: 1px solid #999;
    border-top: none; border-left: none; border-right: none;
}

input[type=submit] {
    border: none;
    background-color: #1170b3;
    color: #fff;
    border-radius: 8px;
    padding: 1rem 0;
}

a {
    text-decoration: underline;
}

a:visited {
    color: #1170b3;
}

.header {
    background-color: #396cb4;
    padding: 1rem 2rem;
}

.header img {
    width: 5rem;
}

.content {
    width: 100%;
    padding: 5rem;
    background-color: #fff;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.content h1 {
    color: #396cb4;
}

.content img {
    width: 100%;
    max-width: 800px;
    border: 1px solid #396cb4;
}

.content p {
    width: 100%;
    max-width: 800px;
}

.content .importante {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    background-color: #dedede;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.bms {
    width: 90%;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.bms input[type=checkbox] {
    width: fit-content;
}