.avisos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2rem 5rem;
}

.avisos .aviso {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    background-color: var(--cinza-claro);
    padding: 2rem;
    border-radius: 18px;
}

.aviso {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 5rem;
}