:root {
    --azul: #396cb4;
    --fundo: #fefefe;
    --cinza: #696969;
    --branco: #fff;
    --nulo: transparent;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    background-color: var(--fundo);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8rem;
    background-color: var(--azul);
    padding: 1rem 0;
    position: fixed; top: 0;
}

.container nav .menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.container nav .btn-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.container nav * a {
    color: var(--branco);
    padding: 5px 0;
    border-bottom: 1px solid var(--nulo);
}

.container nav * a:hover {
    border-bottom: 1px solid var(--branco);
}